@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
button,
input {
  border: none;
}
body {
  overflow-x: hidden;
  background: #000235;
  font-family: "Outfit", sans-serif;
  color: #ffffff;
}
img {
  user-select: none;
  -webkit-user-drag: none;
}
/* BACKGROUND DIVs */
.circle {
  position: absolute;
  width: 30rem;
  height: 30rem;
  z-index: -1;
  filter: blur(200px);
  border-radius: 50%;
}
#circle1 {
  background-color: hsl(240, 51%, 70%, 40%);
  top: -452px;
}
#circle2 {
  background-color: hsl(240, 51%, 70%, 45%);
  right: -25rem;
  top: 25rem;
}
#circle3 {
  background-color: hsl(240, 51%, 70%, 55%);
  top: 125rem;
  left: -20rem;
}
#circle4 {
  filter: blur(150px);
  position: absolute;
  width: 20rem;
  height: 10rem;
  border-radius: 50%;
  background-color: hsl(240, 51%, 70%, 100%);
  right: -15%;
  bottom: 0;
}
/** page container */
.container {
  /* border: 1px solid red; */
  margin: 0 auto;
  max-width: 1045px;
  position: relative;
}
@media (max-width: 1045px) {
  .container {
    padding: 0 1rem;
  }
}
/**NAVBAR */
.navBar {
  margin: 46px auto 0 auto;
  height: 48px;
  color: #ffffff;
  /* border: 1px solid white; */
  display: flex;
  justify-content: space-between;
}
.navBar ul {
  text-transform: uppercase;
  display: flex;
  align-items: center;
}
.navBar ul:first-child {
  font-size: 20px;
  font-weight: 700;
}
.navBar ul:last-child {
  font-weight: 700;
  font-size: 17px;
}
.navBar li {
  list-style: none;
  cursor: pointer;
  transition: 0.2s ease;
}
.navBar li:hover {
  color: #abd9d9;
}
.navBar ul:last-child li {
  margin-left: 46px;
}
.navBar button {
  cursor: pointer;
  margin-left: 41px;
  display: flex;
  align-items: center;
  padding: 15.5px 25px 15.5px 0;
  background: #2d2879;
  color: #ffffff;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 600;
  border-radius: 60px;
}
.navBar button img {
  padding: 0 14px 0 25px;
}

/** MAIN SECTION */

main {
  margin-top: 73px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
main .section h1 {
  font-weight: 700;
  font-size: 87px;
  max-width: 463px;
  line-height: 100%;
}
main .section {
  animation: fadeIn-section 1s forwards;
}
@keyframes fadeIn-section {
  0% {
    opacity: 0;
    transform: translateY(2rem);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

main .section p {
  margin-top: 18px;
  /* margin-bottom: 43px; */
  font-size: 18px;
  font-weight: 400;
  max-width: 373px;
  line-height: 120%;
}
main img {
  width: 100%;
  max-width: 511px;
  animation: fadeIn-img 1s forwards;
}
@keyframes fadeIn-img {
  0% {
    opacity: 0;
    transform: translateY(-2rem);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
.btn {
  cursor: pointer;
  font-weight: 600;
  font-size: 20px;
  color: #ffffff;
  border-radius: 83px;
}
.btn-colorBg {
  margin-top: 43px;
  padding: 23px 75px 23px 75px;
  margin-right: 15px;
  background: #8d8dda;
}
.btn-transparent {
  margin-top: 0.5rem;
  padding: 23px 62px 23px 75px;
  background: transparent;
  border: 2px solid #abd9d9;
}

/** LOGO SECTION */
.logos {
  margin-top: 163px;
  animation: fadeIn-logos 1s forwards;
}
@keyframes fadeIn-logos {
  0% {
    opacity: 0;
    transform: translateY(2rem);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
.logos p {
  font-size: 20px;
  font-weight: 600;
  text-transform: uppercase;
}
.logos-flex {
  min-height: 100px;
  margin-top: 15px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  background-color: hsl(246, 43%, 54%, 19%);
  border-radius: 7px;
}
.logos-flex img:nth-child(1) {
  max-width: 170px;
}
.logos-flex img:nth-child(2) {
  max-width: 152px;
}
.logos-flex img:nth-child(3) {
  max-width: 61px;
}
.logos-flex img:nth-child(4) {
  max-width: 103px;
}

/** ANALYTICS SECTION */
.analytics-section {
  margin-top: 98px;
  display: flex;
  align-items: center;
}
.analytics-section img {
  width: 485px;
  max-width: 100%;
}

/* ANALYTICS AND GetApp Style */
.analytics-section p:first-child,
.getApp-section p:first-child {
  color: #abd9d9;
  font-size: 20px;
  font-weight: 600;
  letter-spacing: 2px;
}
.analytics-section .section p:last-of-type,
.getApp-section .section p:last-of-type {
  margin-top: 18px;
  max-width: 373px;
  font-size: 18px;
  font-weight: 400;
  line-height: 27px;
}
.analytics-section h2,
.getApp-section h2 {
  margin-top: 7px;
  font-weight: 700;
  font-size: 57px;
  line-height: 100%;
}
/* ↑ */
.analytics-section .section {
  max-width: 518px;
  margin-left: 31px;
}
.btn-viewPricing {
  cursor: pointer;
  margin-top: 21px;
  font-weight: 600;
  font-size: 20px;
  color: #ffffff;
  background: #8d8dda;
  text-transform: uppercase;
  padding: 22px 71px 22px 71px;
  border-radius: 83px;
}

/** GET OUR APP - section */
.getApp-section {
  margin-top: 52px;
  display: flex;
  align-items: center;
  justify-content: start;
}
.getApp-section img {
  width: 416px;
  max-width: 100%;
}
.getApp-section .section {
  max-width: 518px;
  margin-right: 65px;
}

/** TESTIMONIALS */
.testimonials {
  margin-top: 151px;
  display: flex;
  flex-direction: column;
}
.testimonials .title {
  text-align: center;
}
.testimonials .title p {
  color: #abd9d9;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 20px;
  margin-bottom: 11px;
}
.testimonials .title h2 {
  text-transform: capitalize;
  font-weight: 700;
  font-size: 57px;
  max-width: 487px;
  line-height: 100%;
  margin: 0 auto;
}
.wrapper-cards {
  margin-top: 63px;
  display: flex;
  justify-content: center;
  gap: 14px;
}
.wrapper-cards .card {
  position: relative;
  text-align: center;
  height: 333px;
  flex-grow: 1;
  background: hsl(0, 0%, 100%, 8%);
  border-radius: 20px;
}

.wrapper-cards .card img {
  padding: 35px 0 44px 0;
  width: 99px;
  mix-blend-mode: luminosity;
}
.wrapper-cards .card p:last-child {
  max-width: 305px;
  margin: 24px auto 0 auto;
  font-size: 16px;
  font-weight: 400;
}
.card-name {
  text-transform: uppercase;
  font-weight: 600;
  font-size: 20px;
  letter-spacing: 2px;
}

/* *GET STARTED Section */
.get-started {
  width: 100%;
  background: linear-gradient(to right bottom, #5151c6, #abd9d9);
  text-align: center;
  border-radius: 30px;
  margin-top: 98px;
}
.get-started p {
  font-size: 20px;
  font-weight: 600;
  color: #000000;
  letter-spacing: 1px;
  padding-top: 58px;
}
.get-started h2 {
  margin: 38px auto 44px auto;
  max-width: 520px;
  text-transform: capitalize;
  font-size: 57px;
  font-weight: 700;
  line-height: 100%;
}
.get-started button {
  cursor: pointer;
  font-weight: 600;
  font-size: 20px;
  color: #ffffff;
  background: #000000;
  padding: 22px 71px 22px 71px;
  border-radius: 83px;
  margin-bottom: 48px;
}

/** FOOTER */
footer {
  margin-top: 145px;
  display: flex;
  justify-content: space-between;
}
footer h2 {
  font-weight: 700;
  font-size: 27px;
}
footer ol {
  list-style: none;
  padding-top: 19px;
  margin-bottom: 64px;
}
footer li {
  cursor: pointer;
  font-size: 16px;
  font-weight: 400;
  line-height: 27px;
}
.newsletter p {
  font-weight: 600;
  font-size: 22px;
}
.links-title {
  font-weight: 600;
  font-size: 16px;
}
.links-home,
.links-market,
.links-contact {
  padding-top: 7px;
}
.email-wrapper {
  margin-top: 30px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #13124f;
  border-radius: 70px;
  max-width: 345px;
  height: 53px;
}
.email-wrapper input:first-child {
  background: transparent;
  margin-left: 23px;
  font-weight: 400;
  font-size: 16px;
}
.email-wrapper input:last-child {
  cursor: pointer;
  background: #8d8dda;
  margin-right: 4px;
  width: 124px;
  height: 43px;
  border-radius: 83px;
  color: #ffffff;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 14px;
  letter-spacing: 2px;
}
::placeholder {
  color: rgb(255, 255, 255, 67%);
}
input:focus {
  outline: none;
}
input {
  color: #abd9d9;
}
.footer2nd {
  height: 11px;
  background: linear-gradient(to right, #5151c6, #abd9d9);
}

.navBar ul i {
  display: none;
}
@media (max-width: 890px) {
  .circle {
    display: none;
  }
  /*! Burger menu*/
  .navBar ul:last-child li,
  .navBar ul:last-child button {
    display: none;
  }
  .navBar ul i {
    display: inline-block;
    margin-right: 1rem;
    font-size: 1.5rem;
  }
  /*! IMAGEs */
  main img {
    max-width: 60vw;
  }
  .analytics-section img {
    width: 55vw;
  }
  .getApp-section img {
    width: 40vw;
  }
  /*! TEXT */
  main .section h1 {
    font-size: 57px;
  }
  main .section p {
    margin-top: 18px;
    font-size: 16px;
    font-weight: 400;
    max-width: 373px;
  }
  .wrapper-cards .card p:last-child {
    font-size: 14px;
  }
  /* * GETApp and Analytics */
  .analytics-section p:first-child,
  .getApp-section p:first-child {
    font-size: 20px;
  }
  .analytics-section .section p:last-of-type,
  .getApp-section .section p:last-of-type {
    font-size: 17px;
  }
  .analytics-section h2,
  .getApp-section h2 {
    font-size: 47px;
  }

  /*! BUTTONs For MAIN*/
  .btn-colorBg {
    margin-right: 0px;
  }

  .btn-viewPricing {
    font-size: 18px;
    padding: 20px 61px 20px 61px;
  }
  /*! FOOTER */
  footer {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  footer h2 {
    font-size: 50px;
  }
  footer li {
    font-size: 26px;
  }
  .newsletter p {
    font-size: 27px;
  }
  .newsletter {
    padding-bottom: 3rem;
  }
  .links-title {
    font-size: 40px;
  }
}
/** MOBILE */
@media (max-width: 640px) {
  main {
    flex-direction: column-reverse;
  }
  main .section {
    align-items: center;
    justify-content: center;
  }
  .btn-colorBg {
    padding: 20px 55px 20px 55px;
  }
  .btn-transparent {
    padding: 20px 42px 20px 55px;
  }
  /*! Analytics */
  .analytics-section {
    flex-direction: column-reverse;
    align-items: flex-start;
  }
  .analytics-section .section {
    margin-left: 0;
  }
  .analytics-section img {
    margin: 0 auto;
  }
  /* GEt App */
  .getApp-section {
    flex-direction: column;
  }
  .logos-flex img {
    padding: 15px;
  }

  /*! CARDS */
  .testimonials {
    margin-top: 5.5rem;
  }
  .wrapper-cards {
    flex-direction: column;
    width: 100%;
    gap: 0.5rem;
    margin: 0 auto;
  }
  .wrapper-cards .card:nth-child(1) {
    margin-top: 2rem;
  }
  .testimonials .title h2 {
    font-size: 47px;
  }
  /*! IMAGES */
  main img {
    max-width: 70vw;
  }
  .analytics-section img {
    width: 65vw;
  }
  .getApp-section img {
    margin-top: 1rem;
    width: 55vw;
  }
  /*!GET STARTEDS */
  .get-started h2 {
    font-size: 47px;
  }
  .get-started button {
    font-size: 18px;
    padding: 22px 61px 22px 61px;
    border-radius: 83px;
  }
  /*! FOOTER */
  footer {
    align-items: flex-start;
    text-align: start;
  }
  footer li {
    font-size: 23px;
    line-height: 150%;
  }
  .links-title {
    font-size: 35px;
  }
  .newsletter p {
    font-size: 22px;
  }
}

@media (max-width: 370px) {
  /*! LOGOs  */
  .logos-flex {
    flex-direction: column;
  }
  /*!GET STARTEDS */
  .get-started h2 {
    font-size: 37px;
  }
  /*! Email */
  .email-wrapper {
    border-radius: 70px;
    max-width: 245px;
    height: 53px;
  }
  .email-wrapper input:first-child {
    margin-left: 23px;
    font-size: 13px;
  }
  .email-wrapper input:last-child {
    margin-left: -15px;
    width: 124px;
    height: 43px;
    border-radius: 83px;
    color: #ffffff;
    font-weight: 600;
    font-size: 12px;
  }
  .getApp-section .section {
    max-width: 518px;
    margin-right: 0;
  }
}
